 <% if current_user.admin? %>>
 
 <%= link_to "Flight listing", list_path , class: "btn btn-lg btn-primary" %>

<% else %>
<p>Hi, Welcome <%= @user.name %> Book your favourite flights here!!</p>
<div id="buttonline">
<%= link_to "BOOKING", book_path , class: "btn btn-lg btn-primary" %>
<%= link_to "CANCEL", cancel_path , class: "btn btn-lg btn-primary" %>
<% end %>
</div>
