<div class="center">
<h1>Flight Booking System</h1>
<p>New User!</p>
<%= link_to "sign up now!", 'signup' , class: "btn btn-lg btn-primary"%>
<body id="im">   </body>
<!-- background-image: url(<%= asset_path 'flight.jpg' %>) -->
</div>

